/* CSS declarations go here */
body {
	background-image: url("singapore-skyline.jpg");

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
	/*height:510px !important;*/
	width:100% !important;
}

td {
	max-width:100px !important;
}

.website-logo {
	position:absolute;
	left:15px;
	top:10px;
	width: auto;
	height: 75px;
}

.bold {
	font-weight:500;
}

.search {
	margin:5px 0 5px 0px !important;
	border:none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.select-dropdown {
	margin:5px 0 5px 0 !important;
	border:none !important;
	box-shadow: none !important;
	text-align:center;
}

.card-search {
	margin:0 !important;
}

.card-search .select-wrapper span.caret {
	line-height:normal !important;
}

.no-shadow{
	box-shadow: none !important;
}

.button-horizontal-align{
	display: flex;
  	justify-content: center;
}

/*.page {
	height:100vh;
	width:100vw;
}
*/
.search-bar {
/*	padding-top:5rem;
	padding-bottom:20rem;*/
}

.search-col {
	padding:0rem !important;
}

.invisible {
	display:none;
}

.section.banner {
	padding-top:13rem;
}

.tabs .indicator {
    background-color: #2196F3;
}

.collection-row {
	margin-bottom:15px !important;
	margin-top: 15px !important;
}

.logo-container img {
    display:block;
    margin:auto;
}

.content-container {
	padding-top:2rem;
}

.preloader-wrapper.huge{
	height:100px;
	width:100px;
}

.preloader-wrapper.gigantic {
	height:250px;
	width:250px;
	top:30%;
}

#whois-preloader {
	bottom:30%;
}

.preloader-margin {
	margin: 30px;
}
.section.more-pad {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.no-margin {
	margin:0 !important;
}

.no-margin-left {
	margin-left:0 !important;
}

.no-margin-bottom {
	margin-bottom:0 !important;
}

.large-carousel {
	height:780px !important;
}

.indicator-item {
	background-color: #64b5f6 !important;
}

.indicator-item.active {
	background-color: #1565c0 !important;
}

.card-panel.less-pad {
	padding: 12px;
}

.invisible {
	display:none !important;
}

.info-icon {
	margin-right:8px;
	vertical-align:middle;
}

.info-text {
	vertical-align: middle;
}

.vertical-divider {
    position:absolute;
    right:0;
    height:100%;
    border-left:1px solid black;	
}

.companyinfo-logo {
	width:100px;
	height:auto;
}

.social-icon {
	max-width:50px;
	max-height:50px;
}

.row.more-margin {
	margin-bottom:30px !important;
} 

.no-pad {
	padding: 0 !important;
}


/* Change the white to any color ;) */
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}